body {
  font-family: sans-serif;
  background-color: #f4f4f4;
  color: #333;
}
header {
  background-color: #007acc;
  color: white;
  padding: 20px;
  text-align: center;
  /* CORREÇÃO */
  border-radius: 8px;
}
/* T2 - Sobre */
#sobre { max-width: 800px; margin: 24px auto; padding: 0 16px; }
#sobre h2 { margin-bottom: 8px; }
