body {
  font-family: sans-serif;
  background-color: #f4f4f4;
  color: #333;
}
header {
  background-color: #007acc;
  color: white;
  padding: 20px;
  text-align: center;
  /* CORREÇÃO */
  border-radius: 8px;
}
/* T1 - Nav */
.nav {
  display: flex;
  gap: 16px;
  list-style: none;
  justify-content: center;
  padding: 12px 0;
  margin: 0;
}
.nav a {
  text-decoration: none;
  font-weight: 600;
  color: #007acc;
}
.nav a:hover { text-decoration: underline; }
